<%= form_for(@turma) do |f| %>
  <% if @turma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@turma.errors.count, "error") %> prohibited this turma from being saved:</h2>

      <ul>
      <% @turma.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <%= f.fields_for :disciplina do |d| %>
    <div class="field">
      <%= d.label :disciplina %><br />
      <%= d.text_field :name %>
    </div>
    <div class="field">
      <%= d.label :professor %><br />
      <%= d.text_field :professor %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
