<%= form_for(@turma) do |f| %>
  <% if @turma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@turma.errors.count, "error") %> prohibited this turma from being saved:</h2>

      <ul>
      <% @turma.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :disciplina do |d| %>
    <label> Disciplina - Professor  <%= button_tag '+ Disciplina', class: 'btn btn-info' %> </label> 
    <div class="disc">
      <%= d.collection_select :disciplina, Disciplina.all, :id, :name, include_blank: "Selecione a Disciplina" %>
      <%= d.text_field :professor, readonly: true %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
