<h1>Report</h1>

<p>
  <%= form_tag '/turmas/report', method: 'post' do %>
      <label> Turma </label> <%= text_field_tag :turma, params[:turma] %> 
      <label> Professor </label> <%= text_field_tag :professor, params[:professor] %>
      <label> <%= submit_tag "Search", name: nil %> </label>
  <% end %>
</p>

<table class="table table-bordered">
  
<% @turmas.each do |turma| %>
  <tr>
    <th>Turma Name</th>
  </tr>

  <tr class="success">
    <td><%= turma.name %></td>
    <td><%= link_to 'Show', turma %></td>
  </tr>

  <tr>
    <th>Disciplinas</th>
  </tr>

  <tr class="info">
        <% turma.disciplinas.find_each do |disciplina| %>
        <td>
          <%= "#{disciplina.name} - #{disciplina.professor.name}" %>
        </td>
        <% end %>
  </tr>

  <tr>
    <th>Alunos</th>
  </tr>

  <tr class="error">
        <% turma.alunos.find_each do |aluno| %>
        <td>
          <%= aluno.name %>
        </td>
        <% end %>
  </tr>

<% end %>
</table>
